.main-container {
	display: flex; 
	flex-direction: row; 
	margin-top: 5%;
	height: 70vh;
}
.img-container {
	flex: 1;
	width: 30%;
}
.display-pic {
	height: 90%;
	margin-left: 5%;
	margin-top: 5%;
	border-radius: 2%;
}

.info-container {
	flex: 1;
}
.info-title {
	font-family: 'PT Sans', sans-serif;
	text-align: center;
}
.title-one {
	font-size: 36pt;
	margin-left: -55%;
}
.title-two {
	font-size: 38pt;
	margin-left: 25%;
	font: italic bold 'PT Sans', sans-serif;
	color: #ffccc9;
}
.info-summary {
	font-family: 'Raleway', sans-serif;
	padding: 5%;
	margin-top: 5%;
	font-size: 16pt;
	box-shadow: 2px 2px 15px #ffccc9;
}

/* For Safari Browser 10.1+ Only */
@media not all and (min-resolution:.001dpcm) { 
    @media {
        .display-pic { 
            height: 70%;
            width: 100%;
            margin-top: 15%;
        }
    }
}

@media only screen 
  and (max-device-width: 480px)
  and (orientation: portrait) {
	  .main-container { 
			flex-direction: column;
			width: 100vw;
		}
		
		.img-container {
			width: 100%; 
		}

	  .display-pic {
			width: 80%; 
			height: 90%;
			margin-left: 10%; 
		}
		
		.title-one {
			margin: 0; 
		}

		.title-two {
			margin: 0; 
			font-size: 25pt;
			margin-bottom: 25px;  
		}

		.info-summary {
			font-size: 15pt; 
			margin: 10px;
		}
}