.about-title-text {
	font-size: 38pt;
	font: italic bold 'PT Sans', sans-serif;
	color: #ffccc9;
}

.resume-icon {
	color: white;
}

.about-summary {
	font-family: 'Raleway', sans-serif;
	padding: 3%;
	margin: 0 auto;
	margin-top: 1%;
	font-size: 16pt;
	box-shadow: 2px 2px 15px #ffccc9;
}

@media only screen 
  and (max-device-width: 480px)
  and (orientation: portrait) {
	.about-title-text {
		font-size: 24pt; 
		margin-top: 2%; 
	}

	.about-summary {
		font-size: 12pt; 
		margin: 25px; 
		margin-bottom: 20%; 
	}
}