.about-title-text {
	font-size: 38pt;
	font: italic bold 'PT Sans', sans-serif;
	color: #ffccc9;
}

.resume-icon {
	color: white;
}

.about-summary {
	font-family: 'Raleway', sans-serif;
	padding: 3%;
	margin: 0 auto;
	margin-top: 2%;
	font-size: 16pt;
	box-shadow: 2px 2px 15px #ffccc9;
}