.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: right;
	margin-bottom: 3%;
}

.li-link {
	color: #ffccc9;
}
.li-link:first-child {
	margin-right: 1%;
}
.li-link:last-child {
	margin-right: 4%;
}